<h2>労働者　残業申請ページ</h2>


<%= form_with model: @request, url: workers_worker_working_time_requests_path, method: :post, local: true do |f| %>

<h4>開始時刻</h4>
<%= f.datetime_select :start_at %>

<h4>終了時刻</h4>
<%= f.datetime_select :finish_at %>

<h4>内容</h4>
<%= f.text_field :job_description %>

<%= f.hidden_field :status, value: "created" %>

<%= f.submit '申請' %>
<% end %>