<div class="container">
  <div class="row">
    <h3 class="p-3"><span class="header">労働者　残業申請ページ</span></h3>
  </div>

    <table>
         <tr>
          <td>勤務時間</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>規定時間</td>
          <td><%= l @working_time.start_at, format: :short %></td>
          <td>~</td>
          <td><%= l @working_time.finish_at, format: :short %></td>
        </tr>

          <% if @working_time.request.present? %>
            <tr>
              <td>実労働時間</td>
              <td><%= l @working_time.open_at, format: :short %></td>
              <td>~</td>
              <td><%= l @working_time.end_at, format: :short %></td>
            </tr>
          <% end %>
    </table>


<%= form_with model: @request, url: workers_worker_working_time_requests_path, method: :post, local: true do |f| %>

<h4>開始時刻</h4><%= f.datetime_select :start_at %>

<h4>終了時刻</h4><%= f.datetime_select :finish_at %>

<h4>内容</h4><%= f.text_field :job_description %>

<%= f.hidden_field :status, value: "created" %>

<%= f.submit '申請' %>
<% end %>
</div>