<h2>詳細ページ</h2>

<table>
    <tr>
        <td>name</td>
        <td><%= @worker.full_name %></td>
    </tr>
</table>

<p>勤務時間</p>
<% @worker.working_times.each do |working_time| %>
    <p>
        <%= l working_time.start_at, format: :short %>
        ~
        <%= l working_time.finish_at, format: :short %>
    </p>
    <% if working_time.request.present? %>
        <P>
            <%= l working_time.request.start_at, format: :short %>
            ~
            <%= l working_time.request.finish_at, format: :short %>
        </P>
    <% end %>
    <P><%= link_to "編集", edit_bosses_worker_working_time_path(@worker.id,working_time.id) %></P>
<% end %>

<%= link_to "新規追加", new_bosses_worker_working_time_path(@worker) %>




